*
{
	margin: 0;
	padding: 0;
}
@font-face
{
	font-family: "EurostileBQ";
	src: url("fonts/EurostileBQ-Bold.otf");
	font-family: "Devil Breeze Medium";
	src: url("fonts/Devil Breeze Medium.ttf")
  }
/*------Navigation--------*/
#nav-bar
{
	position: sticky;
	top:0;
	z-index: 10;
}

.navbar-brand img
{
	height: 50px;
	padding-left: 30px;
	padding-right: 10px;
	padding-top: 0px;
}
@media only screen and (max-width : 1080px)
{
	.navbar-brand img 
	{
		display: none;
	}
}
.navbar-nav li
{
	padding: 0 10px;	
}
.navbar-nav li a
{
	float: right;
	text-align: left;
}
#nav-bar ul li a:hover
{
	color: #00AAFF!important;
}
.navbar
{
	background: #000000;
}
.navbar-toggler
{
	border: none!important;
}
.navbar-toggler-icon
{
	color: #ffffff!important;
}
.nav-link
{
	color: #ffffff!important;
	font-family: "EurostileBQ";
	font-size: 16px;
	letter-spacing: 3px;
}
.home-title
{
	color:#00AAFF;
	color: white!important;
	text-align: center;
	font-size: 50px;
	margin-top: 50px;
	font-family: "EurostileBQ";
	letter-spacing: 3px;
}
.reel
{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 50px;
	width: auto;
	max-width: 100%;
	height: auto;

}
body
{
	background-color: #050505!important;
}
footer
{
	margin-top:125px;
	text-align: center;
}